* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 208, 0, 0.979);
  z-index: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 208, 0, 0.979);
  border-radius: 30px;
}

.margin {
  font-size: 20px;
  font-weight: 700;
}

.custon::after {
  content: "";
  width: 125px;
  height: 5px;
  background: #ddee44;
  display: block;
  margin: 5px;
}

.font {
  font-weight: 500;
  font-size: 40px;
  z-index:-1;
}

.to-top {
  background: rgba(255, 208, 0, 0.788);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#000000;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

ul {
  cursor: pointer;
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}
